*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Alegreya Sans SC', sans-serif;
}
body{
    background-color: black;
}

h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 6.4rem;
    color: rgb(253, 248, 241);
}

.restart{
    padding: 10px;
    border: paleturquoise 5px solid;
    border-radius: 10px;
    margin-left: 40%;
    margin-bottom: 15px;
    font-size: 20px;
}

.game{
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(170, 170, 170);
    
}

.card{
    display: inline-block;
    height: 125px;
    width: 25%;
    margin: 30px;
    box-shadow: 0 4px 8px gray;
    border-radius: 10px;
    border: 10px solid rgb(4, 107, 0);
    background-color: rgb(241, 239, 239);
    position: relative;
    transition: all .4s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

/* use backface visibility & transform rotateY  */
  
.selected{
      border: solid 10px rgb(255, 0, 0);
      transform: rotateY(180deg);
  }

  .match{
      border: rgb(0, 238, 247) solid 10px;
      background-image: rgb(0,238,247) !important;
      visibility: hidden;
  }

  .front{
      z-index: 2;
      background: 
      url(images/American-Football-Ball-icon.png);
      background-size:  contain;
      background-position:  center;
      background-repeat: no-repeat;
      
    }
  
    .back{
        transform: rotateY(180deg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 4px 8px gray;
    }

  .card,
  .back,
  .front{
      height: 150px;
      width: 150px;
  }

.back,
.front{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
